<!DOCTYPE html>
<html lang="en">
	<link>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>嘿好停-乡间城地图导航</title>
	<link rel="stylesheet" href="./css/vant.css" />
	<link href="./css/main.css" rel="stylesheet" />
	<body>
		<div id="app">
			<div id="map"></div>
			<div style="position: absolute;left:10px;top:20px;">
				<input class="btn-default" style="height: 16px; width: 120px; vertical-align: middle; font-size: 12px;" type="text"
				 v-model="searchinput" placeholder="请输入停车位" />
				<van-button type="info" icon="search" size="mini" @click="onSearch"></van-button>
				<van-button type="info" icon="wap-nav" size="mini" @click="onSeachMore"></van-button>
				<van-button type="info" icon="location" size="mini" @click=""></van-button>
				<br />
				<van-popup v-model="seachShow" position="top">
					<van-row>
						<v-col span="24">
							<van-cell title="停车场查询" icon="location" />
						</v-col>
					</van-row>
					<van-row>
						<van-col span="24">
							<van-search v-model="searchinput" placeholder="车位" show-action use-action-slot shape="round" bind:clear="clearSearch">
								<div slot="action" @click="onSearch">搜索</div>
							</van-search>
						</van-col>
					</van-row>
					<van-row>
						<v-col span="24">
							<van-cell title="电梯位置" icon="location" />
						</v-col>
					</van-row>
					<van-row gutter="20" style="margin-left: 20px;">
						<v-col span="8">
							<!-- <van-button type="default" size="mini" class="van-button-custom" @click="">P2层电梯</van-button> -->
						</v-col>
					</van-row>
					<van-row>
						<v-col span="24">
							<van-cell title="出入口位置" icon="location" />
						</v-col>
					</van-row>
					<van-row gutter="20" style="margin-left: 20px;">
						<v-col span="8">
							<van-button type="default" size="mini" class="van-button-custom" @click="exitClickA">1F出口</van-button>
						</v-col>
						<v-col span="8">
							<van-button type="default" size="mini" class="van-button-custom" @click="exitClickB">B1出口</van-button>
						</v-col>
					</van-row>
				</van-popup>
				<!-- 添加蓝牙标签 -->
				<div v-if="uuidpop" class="flex flex-center" style="width: 100vw;height: 100vh;z-index: 1000;background: rgba(0,0,0,0.8);position: fixed;top: 0;left: 0;box-sizing: border-box;">
					<div style="background: #FFFFFF;padding: 20px;border-radius: 10px;box-sizing: border-box;" class="flex flex-column">
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;" v-model="uuid"
						 placeholder="请输入uuid,标签" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="major" placeholder="请输入major" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 v-model="minor" placeholder="请输入minor,标签" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="px" placeholder="请输入px" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="py" placeholder="请输入py" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="pz" placeholder="请输入pz" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="lng" placeholder="请输入lng" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="lat" placeholder="请输入lat" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="pid" placeholder="请输入pid" />
						<input style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;"
						 readonly="readonly" v-model="floor" placeholder="请输入floor,楼层" />
						<button @click="mapsave" style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;background-color: #0570DB;">确定</button>
						<button @click="qxuuidpop" style="border-radius: 5px;width: 300px;height: 40px;box-sizing: border-box;padding: 0 10px;margin-top: 10px;">取消</button>
					</div>
				</div>
			</div>
		</div>
		<script src="./js/vue.min.js"></script>
		<script src="./js/jquery-3.4.1.min.js"></script>
		<script src="./js/vant.min.js"></script>
		<script src="./js/AirocovMap.js"></script>
		<script src="./js/GLTFLoader.min.js"></script>
		<script type="text/javascript">
			var map = null; //地图模型
			var floorB1; //B1楼层对象
			var floorB2; //B2楼层对象
			var parkingSpaceAll = []; //所有车位
			var floorArr = []; //所有楼层对象
			var startPoint = [];
			var startPoint1 = [7.222261115244368, -17.384690617615618]; //1F默认起始点
			var startPoint2 = [2.663187782229233, -15.813179862855106]; //B1默认起始点
			var startfloor; //我所在的楼层
			var currentFloor; //我所在的楼层对象
			var endfloor; //终点所在楼层
			var targetFloor; //终点所在楼层对象
			var endPoint = []; //结束点
			var polyline; //路线
			var floorslist = ['1F', 'B1'];
			var V1 = [8.936041305767441, -15.081400328867632]; //1F出口
			var V2 = [6.7119282491431775, -15.907771930831817]; //B1出口
			var timemap;
			var floorSwitch; //楼层切换控件
			var paths = {
				B1: '',
				B2: '',
			};
			new Vue({
				el: '#app',
				data: function() {
					return {
						wss: "wss://api.cqqcjc.com/system/websocket/D41D8CD98F00B204E9800998ECF8427E", //正式环境
						map: null, //map对象
						B1: '1F',
						B2: 'B1',
						searchinput: '', //搜索坐标
						seachShow: false, //展示搜索条件
						ismap: false, //map地图是否加载完毕
						isfloorSwitch: true, //是否是首次获取定位
						uuidpop: false,
						uuid: '',
						major: "0",
						minor: '',
						px: '',
						py: '',
						pz: '',
						lng: '',
						lat: '',
						pid: '667304638512365567', //车库id
						floor: '',
					}
				},
				mounted() {
					//创建websocket
				},
				methods: {
					//取消录入蓝牙标签
					qxuuidpop() {
						this.uuidpop = false;
					},
					mapsave() {
						var that = this;
						if(that.uuid == "" || that.minor == ""){
							that.$toast.fail("请输入蓝牙标签");
							return;
						}
						var ajaxdata = {
							uuid: that.uuid,
							major: that.major,
							minor: that.minor,
							px: that.px,
							py: that.py,
							pz: that.pz,
							lng: that.lng,
							lat: that.lat,
							pid: that.pid,
							floor: that.floor,
						}
						$.ajax({
							type: "post",
							url: "http://api.cqqcjc.com:1003/map/save",
							dataType: "json",
							data:JSON.stringify(ajaxdata) ,
							contentType: "application/json;charset=UTF-8",
							success: function(data) {
								console.log(data);
								if(data.code == "200"){
									that.$toast.success("蓝牙标签"+that.uuid+"添加成功");
									that.uuidpop = false;
								}else{
									that.$toast.fail(data.msg);
								}
							}
						});
					},
					initWebSocket() {
						//判断当前浏览器是否支持WebSocket
						if ("WebSocket" in window) {
							//初始化weosocket(必须)
							this.websock = new WebSocket(this.wss); //新建一个webstock对象
							this.websock.onopen = this.websocketonopen;
							this.websock.onmessage = this.websocketonmessage;
							this.websock.onerror = this.websocketonerror;
							this.websock.onclose = this.websocketclose;
						} else {
							alert("当前浏览器 Not support websocket");
						}
					},
					websocketonopen() {
						var that = this;
						// console.log("---连接建立成功---");
						this.getmap();
						timemap = setInterval(function() {
							if (that.ismap) {
								clearInterval(timemap);
								that.pullvacancy();
								that.pulllocation();
							}
						}, 1000)

					},
					websocketonerror() {
						//连接建立失败重连
						this.initWebSocket();
					},
					websocketonmessage(e) {
						//数据接收
						var that = this;
						let data = JSON.parse(e.data);
						console.log(data);
						if (data.command == "4006") {
							that.mapdata = data.data.data;
							if (data.data.data) {
								that.intomap();
							} else {
								that.$toast.fail("此车库暂无地图");
								return;
							}

						}
						if (data.command == "4005") {
							that.freedata = data.data.data;
							that.addcar();
							// 每10秒刷新一次空闲车位
							// setTimeout(function(){
							// 	that.pullvacancy();
							// },10000)
						}
						if (data.command == "4002") {
							console.log(data.data.data);
							if (data.data.data) {
								var locationdata = data.data.data;
								startPoint = [Number(locationdata.px), Number(locationdata.pz)];
								startfloor = locationdata.floor;
								currentFloor = map.data.getFloor(startfloor);
								that.newestloction();
								// 每1秒刷新一次位置
								// setTimeout(function(){
								// 	that.pulllocation();
								// },1000)
							}
						}
					},
					websocketsend(Data) {
						//数据发送
						this.websock.send(Data);
					},
					websocketclose(e) {
						//关闭
						console.log("断开连接", e);
					},
					//获取地图
					getmap() {
						var datas = {
							"module": "map",
							"version": "001",
							"command": "4006",
							"data": {
								"pid": this.parkId
							}
						};
						this.websocketsend(JSON.stringify(datas));
					},
					//实时地图空位
					pullvacancy() {
						var datas = {
							"module": "map",
							"version": "001",
							"command": "4005",
							"data": {
								"pid": this.parkId,
								"hour": this.max
							}
						};
						this.websocketsend(JSON.stringify(datas));
					},
					//实时位置
					pulllocation() {
						var that = this;
						var datas = {
							"module": "map",
							"version": "001",
							"command": "4002",
							"data": {
								"openId": that.uid
							}
						};
						this.websocketsend(JSON.stringify(datas));
					},
					//初始化地图
					intomap() {
						var that = this;
						var container = document.getElementById("map");
						map = new AirocovMap.Map({
							container: container,
							mapUrl: './acmap/xjc.acmap',
							themeUrl: './theme/theme.json',
							showAllFloor: false,
							defaultFloorIndex: 1,
							pointScale: 2,
							maxPolarAngle: 90,
							zoom: 0.6,
							theta: 180,
							theta3D: 90,
							key: that.mapdata.key,
							bgColor: "#C3DFFD",
							onReady: function() {
								new AirocovMap.controls.ModeSwitch(map, {
									width: '10px',
									left: '10px',
									bottom: '80px'
								});
								//楼层切换控件
								floorSwitch = new AirocovMap.controls.FloorSwitch(map, {
									left: '10px',
									bottom: '145px',
									type: 1
								});
								//比例尺控件
								new AirocovMap.controls.MapScale(map, {
									right: "10px", //控件与容器左侧距离，或添加right属性，设置与容器右侧距离
									top: "20px", //控件与容器底部距离，或添加top属性，设置与容器顶部距离
									color: "red", // 线条颜色
									linewidth: 3, // 线宽
									linelong: 50, // 线长（像素）
									fontSize: 12, // 文字大小
									fontColor: "blcak" // 文字颜色
								});
								floorB1 = map.data.getFloor(that.B1);
								floorB2 = map.data.getFloor(that.B2);
								floorArr = [floorB1, floorB2];
								currentFloor = floorB1; //将P1初始为默认所在楼层
								setTimeout(() => {
									parkingSpaceAll = [];
									var parkingSpaceB1 = floorB1.getLayer("nameGroup").children;
									var parkingSpaceB2 = floorB2.getLayer("nameGroup").children;
									parkingSpaceAll.push.apply(parkingSpaceAll, parkingSpaceB1);
									parkingSpaceAll.push.apply(parkingSpaceAll, parkingSpaceB2);
								}, 100)
								// console.log(parkingSpaceAll)
								//路径文件
								$.ajax({
									type: "get",
									url: "./route/xjc1fljok.json",
									async: true,
									success: function(data) {
										paths.B1 = data;
									}
								});
								//路径文件
								$.ajax({
									type: "get",
									url: "./route/xjc-1fljok.json",
									async: true,
									success: function(data) {
										paths.B2 = data;
									}
								});
								polyline = AirocovMap.covers.paths;

							}
						})
						//地图加载完执行
						map.event.on("loaded", function() {
							that.ismap = true;
							setTimeout(function(){
								if (that.searchinput != "null" && that.searchinput != "") {
									that.onSearch();
								}
							},500)
						});
						//点击地图事件
						map.event.on('click', function(e) {
							console.log("点击事件：", e);
							that.uuidpop = true;
							that.px = e.position.x;
							that.py = e.position.z;
							that.pz = e.position.y;
							that.lng = e.lnglat[0];
							that.lat = e.lnglat[1];
							that.floor = e.target.parent.parent.name;
							return;
							that.clearMarker();
							endPoint = [Number(e.position.x), Number(e.position.z)]; //获取终点坐标
							endfloor = e.target.getParentFloor().name; //获取终点楼层
							targetFloor = map.data.getFloor(endfloor); //获取终点楼层对象
							that.generatePath(); //规划路线
						});
					},
					//实时刷新最新坐标
					newestloction() {
						var that = this;
						if (that.isfloorSwitch) {
							var showFloori = 0;
							for (var i = 0; i < floorslist.length; i++) {
								if (currentFloor.name == floorslist[i]) {
									showFloori = i;
									break;
								}
							}
							that.isfloorSwitch = false;
							floorSwitch.domControl.showFloor.children[showFloori].click();
						}
						if (endfloor === "") {
							that.clearMarker();
							new AirocovMap.covers.ImageMarker({
								imgSrc: "./img/bubble.png",
								size: 2,
								position: {
									x: startPoint[0],
									y: 1,
									z: startPoint[1]
								},
								center: [0.5, 0],
								callback: function(startMark) {
									map.addToFloor({
										object: startMark,
										floorName: currentFloor.name,
										layerName: "location"
									});
								}
							});
						} else {
							if (that.searchinput === "") {
								that.clearMarker();
								that.generatePath();
							} else {
								that.onSearch();
							}

						}
					},
					//放置小车
					addcar() {
						var that = this;
						var freedata = that.freedata;
						floorslist.forEach(function(floors) {
							var roomGroup = map.data.getFloor(floors).getLayer('roomGroup');
							var room = roomGroup.children;
							for (var i = 0; i < room.length; i++) {
								if (room[i].info.type.sType !== 1002) continue;
								freedata.forEach(function(free) {
									if (free.serial === room[i].name) {
										room[i].material.color.set('#237804');
									}
								});
							}
						});
					},
					//展示搜索条件
					onSeachMore() {
						this.seachShow = true;
					},
					//传入坐标导航
					onSearch() {
						var that = this;
						if (parkingSpaceAll.length == 0) {
							that.$toast.fail("车位数据加载中");
							return;
						}
						var target;
						if (startPoint.length === 0) {
							target = parkingSpaceAll.find(item => item.name == that.searchinput);
						} else {
							target = parkingSpaceAll.find(item => item.name == that.searchinput && item.parent.parent.name == currentFloor
								.name);
						}
						if (!target) {
							that.$toast.fail("未找到指定停车位");
							return;
						} else {
							that.seachShow = false;
							that.clearMarker();
							endPoint = [Number(target.position.x), Number(target.position.z)]; //获取终点坐标
							endfloor = target.parent.parent.name; //获取终点楼层
							targetFloor = map.data.getFloor(endfloor); //获取终点楼层对象
							that.generatePath();
						}
					},
					//出口
					exitClickA() {
						var that = this;
						that.seachShow = false;
						that.clearMarker();
						endPoint = V1;
						endfloor = that.B1;
						targetFloor = map.data.getFloor(endfloor); //获取终点楼层对象
						that.generatePath();
					},
					//出口
					exitClickB() {
						var that = this;
						that.seachShow = false;
						that.clearMarker();
						endPoint = V2;
						endfloor = that.B2;
						targetFloor = map.data.getFloor(endfloor); //获取终点楼层对象
						that.generatePath();
					},
					//规划路线
					generatePath() {
						var that = this;
						that.searchinput = ""; //清楚searchinput
						if (endPoint.length === 0) {
							that.$toast.fail("未获取到终点位置");
							return;
						}
						if (startPoint.length === 0) {
							if (endfloor == that.B1) {
								startPoint = startPoint1;
								currentFloor = floorB1;
							} else if (endfloor == that.B2) {
								startPoint = startPoint2;
								currentFloor = floorB2;
							} else {
								that.$toast.fail("未获取到当前位置");
								return;
							}
						}

						//起点标注
						new AirocovMap.covers.ImageMarker({
							imgSrc: "./img/bubble.png",
							size: 2,
							position: {
								x: startPoint[0],
								y: 1,
								z: startPoint[1]
							},
							center: [0.5, 0],
							callback: function(startMark) {
								map.addToFloor({
									object: startMark,
									floorName: currentFloor.name,
									layerName: "location"
								});
							}
						});
						//终点标注
						new AirocovMap.covers.ImageMarker({
							imgSrc: "./img/end.png",
							size: 2,
							position: {
								x: endPoint[0],
								y: 1,
								z: endPoint[1]
							},
							center: [0.5, 0],
							callback: function(endMark) {
								map.addToFloor({
									object: endMark,
									floorName: targetFloor.name,
									layerName: "destination"
								});
							}
						});
						//判断是否在同一楼层
						if (currentFloor.name == targetFloor.name) {
							//获取路线
							var pathData = that.getPaths(currentFloor.name);
							var routePoints = [];
							var points = polyline.drawRoad({
								points: [startPoint, endPoint],
								getPathOnly: true
							}, pathData);
							for (var i = 0, len = points.length; i < len; i++) {
								routePoints.push([points[i][0], 1, points[i][1]]);
							}
							var road = polyline.drawTube({
								points: routePoints,
								radius: 0.8,
								imgUrl: "./img/arrow.png"
							});
							if (!road) {
								that.$toast.fail("路径规划失败");
								return;
							}
							// 加入地图
							map.addToFloor({
								object: road,
								floorName: currentFloor.name,
								layerName: "pathGroup"
							});
							//路径动画
							if (road.material.map) {
								road.material.map.offset.x = 1;
								TweenMax.to(road.material.map.offset, 1, {
									x: 0,
									ease: Power0.easeNone,
									repeat: -1,
									onStart: function() {
										if (road.material.map.offset.x == 0) {
											road.material.map.offset.x = 1
										}
									}
								})
							}
						} else {
							that.selectRoad();
						}
					},

					//没在同一楼层方法选择路线
					selectRoad() {
						var that = this;
						var name = currentFloor.name + targetFloor.name;
						switch (name) {
							case '1F' + 'B1':
								that.drawB1ToB2();
								break;
							case 'B1' + '1F':
								that.drawB2ToB1();
								break;
							default:
								that.$toast.fail("路径规划失败");
								break;
						}
					},

					//B1到B2
					drawB1ToB2: function() {
						var that = this;
						var routePoints = [];
						//p1层路径规划
						var pathData = that.getPaths(that.B1); //获取p1路径数据
						var points = polyline.drawRoad({
							points: [startPoint, V1],
							getPathOnly: true
						}, pathData);
						for (var i = 0, len = points.length; i < len; i++) {
							routePoints.push([points[i][0], 1, points[i][1]]);
						}
						road = polyline.drawTube({
							points: routePoints,
							radius: 0.8,
							imgUrl: "./img/arrow.png"
						});
						if (!road) {
							that.$toast.fail("1F路径规划失败");
							return;
						}
						// 加入地图
						map.addToFloor({
							object: road,
							floorName: that.B1,
							layerName: "pathGroup"
						});
						//路径动画
						if (road.material.map) {
							road.material.map.offset.x = 1;
							TweenMax.to(road.material.map.offset, 1, {
								x: 0,
								ease: Power0.easeNone,
								repeat: -1,
								onStart: function() {
									if (road.material.map.offset.x == 0) {
										road.material.map.offset.x = 1
									}
								}
							})
						}
						//p2层路径规划
						routePoints = [];
						var pathData = that.getPaths(that.B2); //获取P1路径数据
						var points = polyline.drawRoad({
							points: [
								startPoint2, endPoint
							],
							getPathOnly: true
						}, pathData);
						for (var i = 0, len = points.length; i < len; i++) {
							routePoints.push([points[i][0], 1, points[i][1]]);
						}
						road = polyline.drawTube({
							points: routePoints,
							radius: 0.8,
							imgUrl: "./img/arrow.png"
						});
						if (!road) {
							that.$toast.fail("B1路径规划失败");
							return;
						}
						// 加入地图
						map.addToFloor({
							object: road,
							floorName: that.B2,
							layerName: "pathGroup"
						});
						//路径动画
						if (road.material.map) {
							road.material.map.offset.x = 1;
							TweenMax.to(road.material.map.offset, 1, {
								x: 0,
								ease: Power0.easeNone,
								repeat: -1,
								onStart: function() {
									if (road.material.map.offset.x == 0) {
										road.material.map.offset.x = 1
									}
								}
							})
						}
					},
					//B2到B1
					drawB2ToB1: function() {
						var that = this;
						var routePoints = [];
						//p1层路径规划
						var pathData = that.getPaths(that.B2); //获取p1路径数据
						var points = polyline.drawRoad({
							points: [startPoint, V2],
							getPathOnly: true
						}, pathData);
						for (var i = 0, len = points.length; i < len; i++) {
							routePoints.push([points[i][0], 1, points[i][1]]);
						}
						road = polyline.drawTube({
							points: routePoints,
							radius: 0.8,
							imgUrl: "./img/arrow.png"
						});
						if (!road) {
							that.$toast.fail("B1路径规划失败");
							return;
						}
						// 加入地图
						map.addToFloor({
							object: road,
							floorName: that.B2,
							layerName: "pathGroup"
						});
						//路径动画
						if (road.material.map) {
							road.material.map.offset.x = 1;
							TweenMax.to(road.material.map.offset, 1, {
								x: 0,
								ease: Power0.easeNone,
								repeat: -1,
								onStart: function() {
									if (road.material.map.offset.x == 0) {
										road.material.map.offset.x = 1
									}
								}
							})
						}
						//p2层路径规划
						routePoints = [];
						var pathData = that.getPaths(that.B1); //获取P1路径数据
						var points = polyline.drawRoad({
							points: [
								startPoint1, endPoint
							],
							getPathOnly: true
						}, pathData);
						for (var i = 0, len = points.length; i < len; i++) {
							routePoints.push([points[i][0], 1, points[i][1]]);
						}
						road = polyline.drawTube({
							points: routePoints,
							radius: 0.8,
							imgUrl: "./img/arrow.png"
						});
						if (!road) {
							that.$toast.fail("1F路径规划失败");
							return;
						}
						// 加入地图
						map.addToFloor({
							object: road,
							floorName: that.B1,
							layerName: "pathGroup"
						});
						//路径动画
						if (road.material.map) {
							road.material.map.offset.x = 1;
							TweenMax.to(road.material.map.offset, 1, {
								x: 0,
								ease: Power0.easeNone,
								repeat: -1,
								onStart: function() {
									if (road.material.map.offset.x == 0) {
										road.material.map.offset.x = 1
									}
								}
							})
						}
					},
					//清楚地图上所有标点与路线
					clearMarker() {
						for (i = 0, len = floorArr.length; i < len; i++) {
							floorArr[i].clearLayer("location"); //清除地图上起点标记
							floorArr[i].clearLayer("destination"); //清除地图上终点标记
							floorArr[i].clearLayer("pathGroup"); //清除地图上已有路径
						}
					},
					//获取生成的所有车库路径
					getPaths(name) {
						switch (name) {
							case '1F':
								return paths.B1;
							case 'B1':
								return paths.B2;
							default:
								this.$toast.fail("路径规划失败");
								break;
						}
					},
					//获取url参数
					getUrlParam(url, name) {
						if (!name) return;
						var reg = new RegExp('(^|&)' + name + '=([^&]*)(&|$)', 'i'),
							r = url.substr(1).match(reg);
						if (r != null) {
							return (r[2]);
						} else {
							return null;
						}
					}
				},
				created() {
					this.parkId = this.getUrlParam(location.search, "pid") ? this.getUrlParam(location.search, "pid") :
						'667304638512365567'; //667304638512365567
					endfloor = this.getUrlParam(location.search, "stopfloor") ? this.getUrlParam(location.search, "stopfloor") : ''; //结束楼层
					this.searchinput = this.getUrlParam(location.search, "spacenumber") ? this.getUrlParam(location.search,
						"spacenumber") : ''; //车位
					this.uid = this.getUrlParam(location.search, "uid") ? this.getUrlParam(location.search, "uid") :
						''; //用户uid
					this.max = this.getUrlParam(location.search, "max") ? this.getUrlParam(location.search, "max") : 1; //空闲车位小时
					this.initWebSocket();
				}
			})
		</script>
	</body>

</html>
